<section class="mycart">
  <div class="container">

    <ngx-spinner></ngx-spinner>

    <div *ngIf="mycart!.length == 0;else elseblock" class="alert alert-danger text-center my-5">
      Cart Is Empty
    </div>

    <ng-template #elseblock>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">image</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">quantity</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of mycart;let i=index">
            <tr>
              <th width="20%">
                <img [src]="item.images[0]" class="img-fluid" alt="">
              </th>
              <td>{{item.title}}</td>
              <td>{{item.price}}</td>
              <td>
                <button class="btn btn-primary" (click)="increaseprice(item)" [disabled]="item.quantitiyerror==1">+</button>
                {{(item.quantity)? item.quantity : 0}}
                <button class="btn btn-warning" (click)="decreaseprice(item)" [disabled]="item.quantitiyerror==-1">-</button>
                <div>
                  <small  *ngIf="item.quantitiyerror==1" class="alert alert-danger"> cannot order more than {{item.stock}}</small>
                  <small *ngIf="item.quantitiyerror==-1" class="alert alert-danger"> cannot order less than 0</small>
                </div>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteproductfromcart(item.id)">Remove</button>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
      <h3 class="text-end">Total:{{totalprice}} EGP</h3>

      <button (click)="clearcart()" class="btn btn-danger">clear cart</button>

    </ng-template>

  </div>
</section>
